<!--The content below is only a placeholder and can be replaced.-->
<div>
<h1>{{title}}</h1>

<div>
    <label>Name:
    <input type="text"[(ngModel)]="ngUname" placeholder="username">
    </label>
  
  
  
   
    <label>Password:
      <input type="password" [(ngModel)]="Fpassword" placeholder="password">
      </label>
      
    </div>
    <br>
      <button (click)= "display()">Login</button>
    <h1>{{username}}</h1>
    </div>
<app-log-in-app></app-log-in-app>

<app-booking></app-booking>


    
 